#finaf-heading .accordion-button {
  background-color: var(--white-color);
  padding-top: 0.5rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
}

#finaf-header-button {
  background-color: var(--white-color);
}

.finaf-column {
  font-weight: bold;
  padding-left: 1rem;
  padding-top: 1rem;
}

.finaf-column > h3 {
  font-size: 1.2rem;
  font-weight: bold;
}

.finaf-format-header > h4 {
  font-size: 1.2rem;
  font-weight: bold;
}

#finaf-note {
  padding-top: 0.5rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  font-size: 0.85rem;
}

#finaf-note > i {
  padding-right: 0.5rem;
}

#finaf-title-wrapper {
  display: table;
  background-color: var(--light-color);
  width: 100%;
}

.finaf-column {
  float: left;
  width: 50%;
  padding-right: 8px;
}

.finaf-format-header {
  margin-bottom: 1rem;
}

.finaf-format-header > ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.finaf-format-header > button {
  padding: 0;
  border: none;
  background: none;
}

.finaf-title-year {
  font-weight: lighter;
}

#finaf-search {
  padding-top: 0.5rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  background-color: var(--white-color);
  font-size: 1.2rem;
}

#finaf-link {
  font-weight: lighter;
}
